﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Widgets.CartLifeTimer.Models;
@using Nop.Web.Framework;

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.URL_CkalssWS_OverrideForStore, model => model.URL_CkalssWS, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.URL_CkalssWS)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.URL_CkalssWS)
                        @Html.ValidationMessageFor(model => model.URL_CkalssWS)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.ZoneId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.ZoneId, Model.AvailableZones)
                        @Html.ValidationMessageFor(model => model.ZoneId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.CartLifeTime_OverrideForStore, model => model.CartLifeTime, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.CartLifeTime)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.CartLifeTime)
                         minutos
                        @Html.ValidationMessageFor(model => model.CartLifeTime)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.GenDebugLog_OverrideForStore, model => model.GenDebugLog, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.GenDebugLog)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GenDebugLog)
                        @Html.ValidationMessageFor(model => model.GenDebugLog)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.UseSandbox_OverrideForStore, model => model.UseSandbox, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.URL_ClearCart_OverrideForStore, model => model.URL_ClearCart, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.URL_ClearCart)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.URL_ClearCart)
                        @Html.ValidationMessageFor(model => model.URL_ClearCart)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}