﻿@model Nop.Plugin.Widgets.CartLifeTimer.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddScriptParts("~/Plugins/Widgets.CartLifeTimer/Content/Scripts/timmer.js");
    Html.AddCssFileParts("~/Plugins/Widgets.CartLifeTimer/Content/CSS/timer-style.css");
}
@using Nop.Web.Framework.UI

<div id="div-timmer" class="timer-wrapper theme-custom tooltip">
    <div id="cklass-timer" class="cklass-timer"></div>
    <span class="tooltiptext">Tiempo restante que tendra reservados los productos de su carrito</span>
    <script type="text/javascript">
    var remainingTime = parseInt('@Model.SecRemaining');

    function clearCart() {
    $.ajax({
        url: '@Model.ClearUrl',
            method: 'POST'
        });
    }
    </script>
</div>
