﻿/*#region Timer CSS */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 135%;
    margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

/*#region Responsive */

@media (max-width: 1000px) {
    #div-timmer {
        display: table;
        position: absolute;
        right: 0px;
        width: 91px;
        height: 25px;
        background: #ff3300;
        border-radius: 0px 0px 5px 5px;
        font-size: 13px;
    }

    .cklass-timer {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        right: 0px;
        text-indent: 1px;
        font-size: 13px;
        text-transform: inherit;
        height: auto;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }
}

@media all and (min-width: 1001px) {

    #div-timmer {
        display: table !important;
        position: absolute;
        right: 0px;
        width: 91px;
        height: 25px;
        background: #ff3300;
        z-index: 10001;
        color: transparent;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
        font-size: 13px;
    }

    .cklass-timer {
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        margin-left: -105px !important;
    }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 0.8;
    }
}

/*#endregion*/

/*#endregion*/

/* Personalizacion cklass tifanny overrider */

@media all and (min-width: 1001px) {

    /*oculta el boton de "Pagar" para forsar el paso por el carrito */
    .mini-shopping-cart .checkout-button, .productAddedToCartWindowCheckout {
        display: none !important;
    }

    /*#region Store locator Plugin*/

    /*Evita que se abra el menu de sucursales*/
    .store-locator .sublist-wrap {
        display: none !important;
    }

    .show-directions, .distance-line {
        display: none !important;
    }

    .shops-item {
        background: #EEE;
        min-height: 450px;
    }

    /*Quita el botor "Leer mas"*/
    .shops-item .read-more {
        display: none;
    }

    iframe {
        border: none;
    }

    .ck-estados-list {
        margin: 25px 0 50px 0;
    }

    .ck-estados-item {
        cursor: pointer;
    }

    .ck-estados-list .ck-estados-item {
        display: inline-block;
        width: 180px;
        height: 50px;
        background: #222;
        color: #FFF;
        margin: 3px 2px;
        padding: 18px;
    }

    .ck-loader {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #FFF;
        z-index: 1000;
        padding: 50px;
    }

    /*#endregion*/

    /*#region Custom header bar for information */
    .ck-info-bar {
        height: 29px;
        overflow: hidden;
        background: #444;
        z-index: 10;
        color: #fff;
    }

    .ck-info-bar div {
        display: inline-block;
        padding: 0%;
        margin: 0;
    }

    .ck-info-bar .ck-mensaje {
        background: #444;
        margin: 0px;
        padding: 0% 1% 0% 1%;
        color: #fff;
    }

    #ck-img-pago {
        padding: 0% 1.5% 0% 0%;
        margin: -5px;
        position: relative;
        overflow-y: hidden;
    }

    .ck-info-bar .ck-afiliate {
        display: inline-block;
        background: #e0db32;
        margin: 0px;
        padding: 7px;
        color: #000;
    }

    .ck-info-bar .ck-acceso {
        display: inline-block;
        background: #E60F1D;
        margin: 0px;
        padding: 7px;
        color: #fff;
    }

    /*#endregion*/

    /*#region Ajax filters rounded checkbox */
    .imageOptions .checkbox-list li span.color {
        border-radius: 100%;
        position: relative;
    }

    .imageOptions .checkbox-list li label {
        display: none
    }

    .checkbox-list li {
        width: 85px;
        float: left;
    }

    .checkbox-list li input {
        opacity: 1;
    }

    .center-2 {
        float: right;
        width: 80%;
    }

    .side-2 {
        float: left;
        width: 20%;
        margin-bottom: 1px;
    }

    /*#endregion*/

    /*#region Pagina de catalogos*/

    .ck-catalogo {
        display: inline-block;
        margin: 10px;
    }

    .ck-catalogo h4 {
        background: #EEE;
        text-transform: uppercase;
        padding: 10px;
    }

    .ck-catalogo img {
        box-shadow: 0px 4px 6px #BBB;
    }

    /*#endregion*/

    /*#region Encabezado*/

    .header-inner {
        padding: 5px 0 !important;
        top: 5px !important;
    }

    .header-menu > ul > li > a, .header-menu > ul > li > span {
        padding: 12px 11px !important;
        font-size: 15px !important;
    }

    /*#endregion*/
}
